<div class="row mt-5 gap-3" id="<%= dom_id(product) %>">
  <div class="col-0 col-md-3"></div>

  <div class="col-12 col-md-3">
    <%= image_tag url_for(product.image), class: "img-thumbnail p-5" %>
  </div>

  <div class="col-12 col-md-3">
    <h1><%= product.name %></h1>
    <p class="h5 text-muted">
      <%= number_to_currency product.price, unit: "£" %>
    </p>

    <%= simple_format product.description %>

    <div class="d-flex align-items-center gap-2">
      <div>
        <%= form_with scope: :cart_product, url: cart_products_path do |f| %>
          <%= f.hidden_field :product_id, value: product.id %>
          <%= f.submit "Add to Cart", class: "btn btn-primary" %>
        <% end %>
      </div>

      <div class="text-muted">
        <% quantity = Current.cart.quantity_of(product) %>
        <% if quantity > 0 %>
          <%= quantity %> in cart
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-0 col-md-3"></div>
</div>
