<div class="container-fluid">
  <h1 class="mb-5">All Products</h1>

  <div class="row row-cols-1 row-cols-md-3 row-cols-lg-5 g-4">
    <%- @products.each do |product| %>
      <div class="col">
        <div class="card h-100">
          <div class="card-img-top mt-2 p-4 text-center" style="height: 200px;">
            <%= image_tag url_for(product.image), class: "mw-100 mh-100" %>
          </div>

          <div class="card-body">
            <h1 class="h5 card-title"><%= product.name %></h1>
            <p class="card-text">
              <%= product.description.truncate(120) %>
            </p>
          </div>

          <div class="card-footer">
            <%= form_with scope: :cart_product, url: cart_products_path do |f| %>
              <%= f.hidden_field :product_id, value: product.id %>
              <%= f.submit "Add to Cart", class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
